<%- include("partials/header") %> 

    <div class="container">
        <div class="content">
            <h2 class="wlc">Welcome @<%= name %>  </h2>
            <h1>Posts</h1>
           <% postContent.reverse().forEach(function (content) { %>   
            <div class="posts">
                <h2 ><%= content.title %> </h2>
                <h3>@<%= content.username  %> </h3>
                <p><%= content.post.substring(0,40)+"..." %></p><a href="/posts/<%= content.title %> ">read more</a>
            </div>
           <% }); %> 
        </div>
    </div>
    <%- include("partials/footer") %> 

