<%- include("partials/header") %> 

    <div class="container">
        <h1><%= title %> </h1>
        <h3 class="pstname">@<%= name %> </h3>
        <div class="about">
            <p><%= content %> </p>
        </div>
    </div>


<%- include("partials/footer") %> 